<!doctype html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="normal/base::Layout(~{:: section})" >
<head>
<meta charset="UTF-8" />
<title>this is home page</title>
</head>
<body>
	<section>
		
		<div class="card mr-3 ml-3">
		
		<div class="card-body">
		
		<h1 class="text-center">Your Contacts</h1>
		
		
		
		
		
	
		<div class="table-responsive">
		<table class="table table-hover ">
			  <thead class="thead-light ">
			    <tr>
			      <th scope="col">#ID</th>
			      <th scope="col">Name</th>
			      <th scope="col">Email</th>
			      <th scope="col">Phone</th>
			      <th scope="col">Action</th>
			    </tr>
			  </thead>
			  <tbody>
			  
			  
			    <tr th:each="c : ${contact}">
			    
			      <th scope="row" th:text="${'SCMUSER'+c.Id}">1</th>
			      
			      <td >
			      	<img src="" class="my_profile_picture" th:src="@{'/image/'+${c.image}}" alt="profile photo" />
			    
			       <span th:text="${c.firstName}"></span></td>
			      
			      <td >
			      
			      <a href="#" th:href="@{'/user/'+${c.Id}+'/contact'}">
			      
			      <span th:text="${c.email}"></span>
			      
			      </a>
			      
			      </td>
			      
			      <td th:text="${c.phone}">@mdo</td>
			      
			      <td>
			  <form  method="post" th:action="@{'/user/update-contact/'+${c.Id}}" class="mt-2">    <button type="submit" class="btn btn-primary btn-sm">Update</button   ></form>
			       <a href="#" th:onclick="|deleteContact(${c.Id})|"  type="submit" class="btn btn-danger btn-sm">Delete</a>
			       
			      </td>
			       </form>
			      </td>
			    </tr>
			   
			  
			  </tbody>
</table>

</div>
<!--  pagination part -->


		<nav aria-label="Page navigation example">
		
		  <ul class="pagination">
		  
		    <li th:if="${currentPage != 0}" class="page-item"><a th:href="@{'/user/show-contact/'+${currentPage-1}}" class="page-link" href="#">Previous</a></li>
		   
		   
		   
		    <li th:classappend="${currentPage==i-1?'active':' '}" th:each="i : ${#numbers.sequence(1,totalPages)}" class="page-item"><a th:href="@{'/user/show-contact/'+${i-1}}" class="page-link" href="#"><span th:text="${i}"></span></a></li>
		    
		
		    <li th:if="${currentPage+1 != totalPages}" class="page-item"><a th:href="@{'/user/show-contact/'+${currentPage+1}}" class="page-link" href="#">Next</a></li>
		  </ul>
		</nav>
				
		
		
		</div>
		
		</div>
		
		 
	</section>
</body>
</html>